html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;vertical-align:baseline}html{font-size:62.5%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}ol,ul{list-style:none}table{border-collapse:separate;border-spacing:0}caption,th,td{font-weight:normal;text-align:left}blockquote:before,blockquote:after,q:before,q:after{content:""}blockquote,q{quotes:"" ""}a:hover,a:active{outline:0}a img{border:0}html,body{height:100%}*,*:after,*:before{-webkit-box-sizing:border-box;box-sizing:border-box}figure{margin:0}.clear{content:"";display:table;clear:both}.clearfix{clear:both;overflow:auto}.wrapper{display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex}.item{-webkit-box-flex:1 200px;-webkit-flex:1 200px;-ms-flex:1 200px;flex:1 200px;-webkit-box-ordinal-group:2;-ms-flex-order:2;-webkit-order:2;order:2}body,button,input,select,textarea{font-style:normal;font-weight:400;font-size:16px;font-size:1.6rem;line-height:1.5;text-rendering:optimizeLegibility}.wf-loading body,.wf-loading button,.wf-loading input,.wf-loading select,.wf-loading textarea{visibility:hidden}p{margin-bottom:1em}p,li{line-height:1.5}.logo{font-family:"aw-conqueror-carved-four", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;font-size:36px;font-size:3.6rem;font-weight:400;font-style:normal;line-height:1;letter-spacing:-.075em}h1,h2,h3,h4,h5,h6{clear:both;line-height:1.1}.site-description,.entry-title{font-size:30px;font-size:3rem;font-weight:600;font-style:normal;line-height:1.2;color:#555}.wf-loading .site-description,.wf-loading .entry-title{visibility:hidden}@media (min-width: 27.6875em){.site-description,.entry-title{font-size:34px;font-size:3.4rem;font-weight:600;font-style:normal}}
.entry-title{color:#445060}.entry-title a{color:#445060}.entry-title a:hover{color:#c14543}.page-title span{left:-9999px;position:absolute;top:-9999px}.page-header:before{font-family:"calluna-sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;font-style:normal;font-weight:400;font-size:24px;font-size:2.4rem;font-weight:300;font-style:normal;text-transform:lowercase;color:#829ab5}.wf-loading .page-header:before{visibility:hidden}@media screen and (min-width: 27.6875em){.page-header:before{font-size:26px;font-size:2.6rem;font-weight:300;font-style:normal}}
.page-header.comment-header:before{font-size:20px;font-size:2rem;font-weight:300;font-style:normal}.project-wrap{text-align:center}.project-title{font-size:18px;font-size:1.8rem;font-weight:400;font-style:italic;color:#333}.wf-loading .project-title{visibility:hidden}.project-details:after{font-size:20px;font-size:2rem;font-weight:300;font-style:normal;text-align:center;color:#d6d5d1}.project:hover .project-details:after{color:#c14543}.work-credit{font-size:13px;font-size:1.3rem;font-weight:400;font-style:normal;color:#333}.work-credit a{color:#445060}.work-credit a:hover{color:#c14543}.entry-content p{font-size:20px;font-size:2rem;font-weight:400;font-style:normal;color:#333}.site-footer,.site-footer a{color:#445060;text-align:center}.entry-date{font-size:17px;font-size:1.7rem;font-weight:400;font-style:normal;line-height:1;color:#777}.entry-content h4,.the-demo h4{font-size:26px;font-size:2.6rem;font-weight:600;font-style:normal}.wf-loading .entry-content h4,.wf-loading .the-demo h4{visibility:hidden}a,a:visited,a:hover,a:focus,a:active{text-decoration:none;outline:none}a,a:hover{-webkit-transition:color .3s ease;transition:color .3s ease}[role=navigation] li{font-family:"calluna-sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;font-style:normal;font-weight:400;font-size:18px;font-size:1.8rem;font-weight:400;font-style:normal}.wf-loading [role=navigation] li{visibility:hidden}.navigation-main li{line-height:1}[role=navigation] a{color:#d6d5d1}[role=navigation] a:hover{color:#829ab5}.current-menu-item a{color:#829ab5}.menu-toggle{font-size:34px;font-size:3.4rem;font-weight:400;font-style:normal;color:#d6d5d1}.toggled-on{color:#829ab5}.entry-content a{color:#829ab5}.entry-content a:hover{color:#445060}.site-footer a:hover{color:#c14543}.read-more{font-size:20px;font-size:2rem;font-weight:400;font-style:normal}.photo-nav{font-family:"calluna-sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;font-style:normal;font-weight:400}.wf-loading .photo-nav{visibility:hidden}.photo-nav ul{text-align:center}.photo-nav h2{font-size:21px;font-size:2.1rem;font-weight:400;font-style:normal;color:#577393;text-align:center}.wf-loading .photo-nav h2{visibility:hidden}.photo-nav a{font-size:18px;font-size:1.8rem;font-weight:300;font-style:normal;color:#c14543}.photo-nav a:hover,.photo-nav a.current-menu-item{color:#577393}ul{list-style:none}.b,strong{font-weight:bold}blockquote{margin:0 1.5em}.hide-text{left:-9999px;position:absolute;top:-9999px}.gform_wrapper .left_label .gfield_label,.comment-form-comment label,.comment-form-author label,.comment-form-email label,.comment-form-url label{font-family:"calluna-sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;font-style:normal;font-weight:400;font-size:18px;font-size:1.8rem;font-weight:400;font-style:normal;line-height:1.75;color:#333}.wf-loading .gform_wrapper .left_label .gfield_label,.wf-loading .comment-form-comment label,.wf-loading .comment-form-author label,.wf-loading .comment-form-email label,.wf-loading .comment-form-url label{visibility:hidden}.gform_wrapper input[type=text],.gform_wrapper input[type=email],.gform_wrapper textarea,.comment-form-comment textarea,.comment-form-author input[type=text],.comment-form-email input[type=text],.comment-form-url input[type=text]{font-size:17px;font-size:1.7rem;font-weight:400;font-style:normal;color:#333}.gform_wrapper .gfield_required{color:#d6d5d1}.gform_wrapper .gform_footer input.button,.gform_wrapper .gform_footer input[type=submit],.form-submit input[type=submit]{font-size:18px;font-size:1.8rem;font-weight:400;font-style:italic}.gform_confirmation_message_1{font-size:20px;font-size:2rem;font-weight:400;font-style:normal;text-align:center}.fn{font-size:28px;font-size:2.8rem;font-weight:600;font-style:normal;line-height:30px;color:#829ab5;text-align:center}@media (min-width: 37em){.fn{line-height:60px;text-align:left}}
.comment-meta{font-size:14px;font-size:1.4rem;font-weight:400;font-style:normal;line-height:30px;text-align:center}@media (min-width: 37em){.comment-meta{line-height:60px;text-align:right}}.comment-meta a{color:#999}.comment-meta a:hover{color:#c14543}.comment-content p{font-size:18px;font-size:1.8rem;font-weight:400;font-style:normal;color:#555}.reply{text-align:center}@media (min-width: 37em){.reply{text-align:right}}
.comments-area .comment-reply-link{color:#c14543}.comments-area .comment-reply-link:hover{color:#829ab5}p.form-allowed-tags{font-size:16px;font-size:1.6rem;font-weight:400;font-style:normal}p.form-allowed-tags code{display:block;background:none;color:#333}.comment-reply-title{font-family:"calluna-sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;font-style:normal;font-weight:400;font-size:20px;font-size:2rem;font-weight:400;font-style:normal;color:#445060}.wf-loading .comment-reply-title{visibility:hidden}p.comment-notes,p.logged-in-as{font-size:16px;font-size:1.6rem;font-weight:400;font-style:normal;color:#555}.screen-reader-text{clip:rect(1px, 1px, 1px, 1px);position:absolute !important;top:-9999px;left:-9999px}@font-face{font-family:'aa';src:url("../../font/aa.eot?41076468");src:url("../../font/aa.eot?41076468#iefix") format("embedded-opentype"),url("../../font/aa.woff?41076468") format("woff"),url("../../font/aa.ttf?41076468") format("truetype"),url("../../font/aa.svg?41076468#aa") format("svg");font-weight:normal;font-style:normal}[class^="icon-"]:before,[class*=" icon-"]:before{font-family:'aa';font-style:normal;font-weight:normal;speak:none;display:inline-block;text-decoration:inherit;width:1em;margin-right:0.25em;text-align:center}.icon-menu:before{content:'\2630'}.grid{margin:0;padding-left:1.25em}.grid:after{content:"";display:table;clear:both}[class*='col-']{float:left;width:100%;padding-right:1.25em}.grid [class*='col-']:last-of-type{padding-right:0}.grid-pad{padding:0 0 0 1.25em}.grid-pad [class*='col-']:last-of-type{padding-right:1.25em}.container{width:100%;max-width:75em;margin-left:auto;margin-right:auto}.site-header{position:relative;margin:0;background:#445060}.site-header:after{content:"";display:table;clear:both}.site-header .container{padding:1.25em .502em}@media (min-width: 25em){.site-header .container{padding:1.25em}.site-header .container:after{content:"";display:table;clear:both}}@media (min-width: 41em){.site-header .container{padding:1.25em 2.125em}}
.site-title{float:left}.site-footer .container{padding:1.25em .502em 0;border-top:1px solid #bebcb6}.site-footer .container:after{content:"";display:table;clear:both}@media (min-width: 25em){.site-footer .container{padding:1.25em 1.25em 0}}@media (min-width: 41em){.site-footer .container{padding:1.25em 2.125em 0}}.site-footer .site-credit{display:block}.photo .site-footer{background:#fdfdfd;border-top:1px solid #ededed}.photo .site-footer .container{border-width:0}.sub-menu{padding-top:2.125em}.sub-menu li{display:inline-block;width:49%}.sub-menu li:first-of-type{text-align:left}.sub-menu li:last-of-type{text-align:right}body{background:#f7f7f7}.resume .site{padding-right:.25em;padding-left:.25em}.resume .container{max-width:63em}.resume .site-header{background:#f7f7f7}.resume .site-header .container{padding:.502em;border-bottom:1px solid #d4d4d4}.resume .site-header .container:after{content:"";display:table;clear:both}@media screen and (min-width: 25em){.resume .site-header .container{padding:1em}}.resume .site-title{width:100%;margin-bottom:.5em;text-align:center;font-size:56px;font-size:5.6rem;font-weight:600;font-style:normal;line-height:.8;color:#333}@media screen and (min-width: 49.25em){.resume .site-title{margin-bottom:0;text-align:left}}@media screen and (min-width: 60.25em){.resume .site-title{width:33%;line-height:1.125em}}.resume .site-content{padding:3em .502em}.resume p{color:#333;line-height:1.4}.resume-contact{margin:0 auto;font-family:"calluna-sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;font-style:normal;font-weight:400;font-size:16px;font-size:1.6rem;font-weight:400;font-style:normal}.wf-loading .resume-contact{visibility:hidden}.resume-contact li{color:#333}.resume-contact a{color:#829ab5}.resume-contact a:hover{color:#445060}@media screen and (min-width: 49.25em){.resume-contact{float:left;width:80%;margin:0;padding-top:0}}@media screen and (min-width: 60.25em){.resume-contact{width:67%}}
.contact-digital{text-align:center}.contact-digital li{padding-bottom:.25em}@media screen and (min-width: 38.75em){.contact-digital li{display:inline;padding:1em}.contact-digital li:last-of-type{padding-right:0}}@media screen and (min-width: 49.25em){.contact-digital{text-align:right}}
.contact-physical{padding-bottom:.5em;text-align:center;clear:both;overflow:auto;font-size:16px;font-size:1.6rem;font-weight:300;font-style:normal}.contact-physical li{color:#999}@media screen and (min-width: 49.25em){.contact-physical{padding-bottom:0;text-align:right}}@media screen and (min-width: 60.25em){.contact-physical{margin-bottom:.9em}}
.section-title{padding-bottom:1em}.section-title h2{margin-bottom:.5em;font-size:21px;font-size:2.1rem;font-weight:400;font-style:normal;text-align:center;line-height:1.8;color:#555}.project{padding-bottom:1.5em;text-align:center}.project-details{padding-bottom:.5em;font-family:"calluna-sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;font-style:normal;font-weight:400;color:#445060}.wf-loading .project-details{visibility:hidden}.project-details a:first-of-type{color:#c14543}.project-details a:first-of-type:hover,.project-details a:first-of-type:focus{color:#445060}.project-description a{color:#333}.project-description a:hover,.project-description a:focus{color:#c14543}.resume-prior{padding-top:1em}.site-footer{width:100%;padding-bottom:3em}@media (min-width: 40em){.project{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-flow:row wrap;-ms-flex-flow:row wrap;flex-flow:row wrap}.project-details{width:40%;text-align:right}.project-description{width:60%;padding-left:2em;text-align:left}}@media (min-width: 60.25em){.section-title h2{line-height:1}.resume-main{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-flow:row wrap;-ms-flex-flow:row wrap;flex-flow:row wrap;-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end;padding-bottom:3em}.section-title{width:20%}.project{width:80%}.resume-prior .section-title{width:100%}}@media print{.resume .site-content{margin-top:2em;margin-bottom:2em}body.resume .site{padding-right:0;padding-left:0}.resume .site-header .container{padding-left:0;padding-right:0}.contact-digital li{display:inline;padding:.5em}.contact-digital li:last-of-type{padding-right:0}.resume .site-title{float:left;width:32%;margin-bottom:0;padding-top:10px;font-size:42px;font-size:4.2rem;font-weight:600;font-style:normal;text-align:left;line-height:1.125em}.resume-contact{float:left;width:68%;margin:0;padding-top:0}.contact-physical,.contact-digital{text-align:right}.contact-digital{font-size:16px;font-size:1.6rem;font-weight:300;font-style:normal}.site-footer{border-bottom-width:0}.col-res-project{width:30%;text-align:right}.col-res-content{width:70%;padding-left:2em}.site-footer{display:none}}


body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
}

li,
a,
p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
}
.serif {
    font-family: 'Merriweather', serif;
}

.sans-serif {
    font-family: 'Open Sans', sans-serif;
}

.headline {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-style: normal;
}

.resume .site-header .container {
    padding: 2em 1em 1em;
}

.resume .site-title {
    font-size: 4rem;
    line-height: 1.3;
}

.resume-contact {
    flex: 1;
    float: none;
    width: auto!important;
}

.resume .resume-contact li {
    font-size: 0.875em;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    line-height: 1;
}

.resume a {
    color: #146493;
}

.resume a:hover {
    color: #B04848;
}

.contact-physical {
    margin-bottom: 0.25em!important;
}

.section-title h2 {
    text-align: left;
}

.project.intro {
    text-align: left;
}

.resume .container {
    max-width: 66em;
}

.resume p {
    font-size: 1.125em;
    line-height: 1.6;
    margin-bottom: 1.25em;
}

.resume li {
    margin-bottom: 0.5em;
    font-size: 1.125em;
    line-height: 1.6;
    color: #333;
}

.section-title h2 {
    margin-bottom: 1em;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    text-transform: lowercase;
    letter-spacing: 3px;
    font-weight: 600;
}

.section-title h3,
.section-title p {
    font-size: 0.875em;
}

.section-title h3 {
    margin-bottom: 0.5em;
}

.resume .site-header .container {
    border-color: #ddd;
}

.section-title h3,
.section-title h3 a,
.section-title ,
.divider .headline {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #333;
    font-weight: 600;
}

.divider {
    border-bottom: 1px solid #ddd;
    text-align: center;
    margin-bottom: 5em;
    margin-top: 3em;
    padding-bottom: 1em;
}

.divider .headline {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875em;
    letter-spacing: 3px;
    color: #555;
}

.resume .section-title li {
    font-size: 0.875em;
    letter-spacing: 0;
    line-height: 1.4;
}

.site-footer .container {
    border-color: #ddd;
}

.section-title.advertising li {
    text-transform: capitalize;
}

.site-footer {
    padding-bottom: 1em;
}
.site-footer span {
    font-size: 0.875em;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1;
}



@media (min-width: 48em) {
    .resume .site-header .container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-end;
        padding: 4em 0.5em 1em;
    }

    .resume .site-title {
        width: auto;
        font-size: 5rem;
    }

    .contact-physical,
    .contact-digital {
        text-align: right;
    }
}


@media screen and (min-width: 49.25em) {
    .contact-physical {
        padding-bottom: 0;
    }

    .resume .site-title {
        margin-bottom: 0;
    }
}


@media (min-width: 60.25em) {
    .section-title {
        width: 33.33%;
        padding-top: 0.25em;
    }

    .project.intro {
        width: 66.66%;
        padding-left: 3em;
    }
}


@media (min-width: 68em) {
    .resume .site-title {
        font-size: 6rem;
        line-height: 1;
    }
}
